body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
	/* font-size: 14px; */
	line-height: 1.7;
	color: $color-grey-dark;
	padding: 3rem;
	box-sizing: border-box;
}

.heading-primary {
	color: $color-white;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 600;
		letter-spacing: 0.6rem;

		animation-name: moveInLeft;
		animation-duration: 3s;
		animation-timing-function: ease-out;
	}

	&--sub {
		display: block;
		font-size: 3rem;
		font-style: italic;
		font-weight: 300;
		animation: moveInRight 3s ease-out;
	}
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    -webkit-background-clip: text;
    color: transparent;
}